// footer
.footer {
    background-color: var(--theme1);
    & .getInTuch_Group {
        padding: 215px 0px 194px;
        position: relative;
        & .lhs_side {
            row-gap: 50px;
            & .addresHeading {
                font-family: "Lexend Deca";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 146.5%;
                margin-bottom: 10px;
            }
            & .getheading {
                margin-bottom: 13px;
            }
        }
        & .eleps {
            position: absolute;
        }
        & .eleps1 {
            max-width: 250px;
            top: 11%;
            right: 39%;
            animation: moment 6s linear infinite;
        }
        
        & .eleps2 {
            max-width: 350px;
            top: 58%;
            right: -8%;
            animation: rotate 10s linear infinite;
        }
        
        & .eleps3 {
            max-width: 100px;
            left: -4%;
            bottom: 13%;
            animation: move 5s linear infinite;
        }
        
        & .eleps4 {
            max-width: 60px;
            right: 0%;
            top: 3%;
            animation: rotate 10s linear infinite;
        }
        @keyframes moment {
            0% {
                transform: rotate(0deg)
            }
            50%{
                transform: rotate(30deg)
            }
            100% {
                transform: rotate(0deg)
            }
        }
        @keyframes rotate {
            0% {
                transform: rotate(0deg)
            }
        
            to {
                transform: rotate(1turn)
            }
        }
        @keyframes move {
            0% {
                transform: translateX(0px) rotate(0deg)
            }
        
            50% {
                transform: translateX(50px) rotate(20deg)
            }
            100% {
                transform: translateX(0px) rotate(0deg)
            }
        }
    }
    & .contactcard {
        border-radius: 46px;
        border: 2px solid var(--theme1_border);
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(23px);
        // mix-blend-mode: multiply;
        box-shadow: 0px 52px 56px 0px #00000017;
        position: relative;
        z-index: 1;
        & .card-body {
            padding: 75px 56px;
        }
    }


    & .bottomFooter {
        display: flex;
        flex-direction: column;
        gap: 100px;
        & .letstalk {
            position: relative;
            padding: 30px 0px;
            border-top: 1.5px solid var(--input_border);
            border-bottom: 1.5px solid var(--input_border);
        }
        & .logo {
            height: 40px;
            display: flex;
            margin-bottom: 45px;
            & a {
                display: flex;
                & img {
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        & .linkcategory {
            margin-bottom: 33px;
            color: var(--white);
            font-family: "Lexend Deca";
        }
        & .links {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 0px;
            & li {
                & a {
                    color: var(--white);
                    font-family: "Lexend Deca";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    transition: all ease-in-out 0.3s;
                    &:hover{
                        color: var(--theme2);
                    }
                }
            }
        }
        & .footerBlog {
            border-radius: 5px;
            overflow: hidden;
        }
        & .copyright {
            border-top: 1.5px solid var(--input_border);
            padding: 30px 0px;
        }
    }
}