// Contract Form
.contactForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    & .formGroup {
        & .form-control{
            padding: 18px 20px;
            border: 1px solid var(--input_border);
            background: var(--input_bg);
            color: var(--white);
            font-family: "Lexend Deca";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 132.5%;
            border-radius: 30px;
            box-shadow: none;
            &:focus{
                border-color: var(--theme2);
            }
            &::placeholder{
                color: var(--white);
            }
        }
        & textarea{
            resize: none;
        }
    }
}