.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0px;
    z-index: 100;
    transition: all 0.3s;
    & .innerNav {
        max-width: 1920px;
        padding: 0px 50px;
        & .navbar-brand {
            height: 40px;
            & img {
                height: 100%;
                object-fit: contain;
            }
        }
        & .menuBtn {
            width: 58px;
            height: 58px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--pink);
            transition: all ease-in-out 0.3s;
            & img {
                transition: all ease-in-out 0.3s;
                width: 100%;
                max-width: 25px;
            }
            &:hover{
                background-color: var(--theme2);
                & img {
                    filter: brightness(10);
                }
            }
        }
    }
    &.active {
        background-color: var(--light);
        padding: 20px 0px;
    }
}



// ** Offcanvas ****
.headerOffcanvas {
    border: none;
    & .offcanvas-header {
        border-bottom: 1px solid var(--light);
        & .offcanvas-title {
            height: 40px;
            & img {
                height: 100%;
                object-fit: contain;
            }
        }
    }
    & .offcanvas-body {
        & .links {
            margin: 0px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            & li {
                & a {
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--theme1);
                    transition: all ease-in-out 0.3s;
                    &:hover{
                        color: var(--theme2);
                    }
                }
            }
        }
    }
}

