
// *************** Index Page Css ***********
.herosection {
    height: 100vh;
    background: url(../images/heroBg.svg) no-repeat center;
    background-size: cover;
    
    & .innerfluid {
        position: relative;
        max-width: 1920px;
        margin: 0px auto;
    & .lhsScrollBar {
        position: absolute;
        color: var(--black);
        font-size: 16px;
        font-weight: 700;
        line-height: 17.6px;
        letter-spacing: 0.96px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        left: 50px;
        transform: rotate(90deg);
        transform-origin: left bottom;
        bottom: 296px;
        gap: 4px;
        backdrop-filter: blur(5px);
        padding: 0px 0px 0px 5px;
        & .scrollArrow {
            height: 36px;
            & img{
                height: 100%;
                object-fit: contain;
            }
        }
    }
    & .socialIcon {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        bottom: 50px;
        right: 50px;
        & li {
            & .icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--pink);
                padding: 7px;
                transition: all ease-in-out 0.3s;
                &:hover{
                    background-color: var(--theme2);
                }
                & img {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    & .left_side {
        & .helloWord {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 4px;
            margin: 0px;
            & .handImf {
                width: 38px;
                display: inline-block;
                & img {
                    width: 100%;
                }
            }
        }
        & .mainheading {
            font-size: 116px;
            line-height: 107%;
            font-weight: 700;
            text-transform: capitalize;
            margin: 10px 0px;
        }
        & .loremtext {
            width: 60%;
        }
        & .button {
            margin-top: 40px;
        }
    }
        & .woamnImg {
            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

}


// *contactMe
.contactMe {
    & .contactRound {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        // border: 1px solid var(--theme1);
        color: var(--theme1);
        font-family: "Lexend Deca";
        font-size: 16px;
        font-weight: 400;
        line-height: 132.5%; 
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px dashed var(--theme1);
            border-radius: 50%;
            animation: rotate 10s linear infinite;
        }
        @keyframes rotate {
            0% {
                transform: rotate(0deg)
            }
        
            to {
                transform: rotate(1turn)
            }
        }
    }
    & .aboutUser {
        margin: 27px 0px 40px;
    }
    & .userImg {
        border-radius: 56px;
        overflow: hidden;
    }
    & .mail {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 36px;
        & span {
            width: 42px;
            height: 42px;
            flex-shrink: 0;
            display: inline-block;
        }
        & a {
            font-family: "Lexend Deca";
        }
    }
}

// * Our Work Section Css
.ourwork_section {
    & .innerbody {
        padding: 90px 0px 190px;
        & > div{
            & .workcard {
                border-radius: 34px;
                background: #DAE7FF;
                border: none;
                margin: 200px 0px 100px;
                & .card-body{
                    padding: 62px 88px 0px; 
                    & .blogImg {
                        margin: 40px auto -200px;
                    }
                }
                &.ourwork2{
                    background: #EBEBFB;
                }
                &.ourwork3{
                    background: #FFE3DB;
                }
                &.ourwork4{
                    background: #D4ECDF;
                }
                &.ourwork5{
                    background: #F1EAFF;
                }
                &.ourwork6{
                    background: #DDEBFF;
                }
            }
            &:nth-child(odd){
                & .workcard {
                    margin: 0px;
                }
            }
        }
    }
}

// aboutProduct
.aboutProduct {
    & .loremtext {
    margin: 16px 0px 45px;
    }
    & .card {
        border-radius: 43px;
        background: var(--light);
        border: none;
        & .card-body{
            padding: 58px 50px;
            & .cardHeader{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid var(--border_color);
                padding-bottom: 28px;
                margin-bottom: 26px;
                & .cardImg {
                    width: 35px;
                }
            }
            & .innerBody {
                display: flex;
                flex-direction: column;
                gap: 14px;
            }
        }
    }
}

// testimonialSection
.testimonialSection {
    padding-bottom: 200px;
    position: relative;
    &::before{
        content: '';
        width: 412px;
        height: 412px;
        background: url(../images/Pattern.png) no-repeat center;
        background-size: cover;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        bottom: -14%;
        left: 50%;
        transform: translateX(-50%);
    }
    & .innerFluid {
        // padding: 190px 160px 0px 160px;
        padding: 150px 100px 0px 100px;
        border-radius: 45px;
        background: url(../images/sliderBg.svg) no-repeat center;
        background-size: cover;
        position: relative;
    }
    & .slider {
        margin-top: 100px;
        & .card{
            border: 0;
            background-color: transparent;
            & .card-body{
                margin: 0px 0px -200px;
                border-radius: 46px;
                border: 2px solid var(--white);
                background: rgba(255, 255, 255, 0.35);
                box-shadow: 0px 52px 56px 0px rgba(187, 231, 255, 0.25);
                backdrop-filter: blur(42.5px);
                // padding: 94px 89px;
                padding: 80px 70px;
                & .owl-carousel {
                    position: unset;
                }
                & .item {
                    & .clientImg{
                        width: 215px;
                        height: 214px;
                        flex-shrink: 0;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                    & .clientName {
                        color: var(--theme1);
                        font-size: 35px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 110%;
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        & span {
                            color: var(--gray);
                            font-family: "Lexend Deca";
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 128.5%; /* 25.7px */
                        }
                    }
                    & .shap {
                        width: 45.84px;
                        height: 46.349px;
                        flex-shrink: 0;
                    }
                }
                & .owl-nav{
                    position: absolute;
                    top: -48%;
                    right: 0%;
                    display: flex;
                    gap: 30px;
                    &.disabled{
                        display: none;
                    }
                    & button{
                        & span {
                            display: none;
                        }
                        width: 76px;
                        height: 76px;
                        border-radius: 50%;
                        position: relative;
                        border: 2px solid var(--white);
                        background-color: transparent;
                        transition: all ease-in-out 0.3s;
                        // box-shadow: 0px 0px 10px rgb(31 77 102 / 72%);
                        &:hover{
                            background-color: var(--white);
                            &::after{
                                border-color: var(--theme1);
                            }
                        }
                        &::before{
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            inset: 0;
                            margin: auto;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            width: 20px;
                            height: 20px;
                            border-top: 2px solid var(--white);
                            border-left: 2px solid var(--white);
                            transition: all ease-in-out 0.3s;
                        }
                        &.owl-prev{
                            &::after{
                                transform: translate(-40%, -50%) rotate(-45deg);
                            }
                        }
                        &.owl-next{
                            &::after{
                                transform: translate(-60%, -50%) rotate(135deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

// articleSection
.articleSection {
    padding-top: 50px;
    & .card {
        border-radius: 43px;
        border: none;
        overflow: hidden;
        background-color: var(--light);
        position: relative;
        & .cardImages {
            overflow: hidden;
        }
        & .card-img-top {
            max-height: 334px;
            transition: all ease-in-out 0.3s;
        }
        & .card-body{
            padding:  30px;
            & .timing {
                color: var(--theme2);
                line-height: 129.7%;
                text-transform: capitalize;
            }
            & .card-title {
                margin: 16px 0px 18px;
                color: var(--theme1);
                transition: all ease-in-out 0.3s;
            }
            & .timing, & .continueBtn{
                font-family: "Lexend Deca";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
            }
            & .continueBtn {
                color: var(--theme2);
                display: inline-block;
                line-height: 132.5%;
                margin-top: 20px;
                transition: all ease-in-out 0.3s;
                &:hover{
                    color: var(--theme1);
                }
            }
        }
        &:hover{
            & .cardImages{
                & img {
                    transform: scale(1.1);
                }
            }
        }
    }
}


// brandSection
.brandSection {
    & .card {
        border: 1px solid var(--border_color);
        border-radius: 0px;
        & .card-body{
            padding: 50px;
            & .owl-stage {
                display: flex;
                align-items: center;
            }
            & .item {
                max-height: 36px;
                display: flex;
                &.roundedImg{
                    max-height: 80px;
                }
                & img {
                    object-fit: contain;
                }
            }
        }
    }
}


// Gallery section
.gallerySection{
    & .galleryImg {
        border-radius: 30px;
        overflow: hidden;
        & a {
            display: flex;
            position: relative;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
                margin: auto;
                background-color: #0003;
                transition: all ease-in-out 0.3s;
                opacity: 0;
                visibility: hidden;
                z-index: 1;
            }
            & img {
                transition: all ease-in-out 0.3s;
            }
            &:hover{
                & img {
                    transform: scale(1.1);
                }
                &::before{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
