.lorem {
    font-size: 22px;
    margin: 0px;
}


// *** Blog Page Css
.breadcrumbSection {
    height: 50vh;
    min-height: 400px;
    max-height: 600px;
    background: url(../images/innarPageBg.svg) no-repeat center;
    background-size: cover;
}

// *** blogDetailsPage
.blog-upload-details {
    display: flex;
    align-items: center;
    gap: 15px;
    & li {
        font-size: 20px;
        line-height: 1.2;
        color: var(--theme1);
        font-weight: 700;
    }
}
.list {
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & li {
        color: var(--light_dark);
        font-size: 18px;
        font-style: normal;
        font-family: "Lexend Deca";
        font-weight: 300 !important;
    }
    &.orderlist{
        list-style: auto;
    }
}
.blogDetailsPage {
    & .blogIMg {
        border-radius: 30px;
        overflow: hidden;
        max-height: 600px;
    }
    & .m-60{
        margin: 60px 0px;
    }
    & .categoryHeading {
        margin-bottom: 20px;
    }
    & .mb-30{
        margin: 0px 0px 30px 0px;
    }
    & .my-50{
        margin: 50px 0px;
    }
    & .detailCard {
        border: none;
        border-radius: 30px;
        background-color: var(--theme2);
        & .card-body{
            padding: 48px 60px;
        }
    }
    & .blogUser {
        border-top: 1px solid var(--border_color);
        border-bottom: 1px solid var(--border_color);
        & .userBody {
            & .userImg {
                height: 190px;
                width: 190px;
                border-radius: 50%;
                overflow: hidden;
                & img {
                    object-fit: cover;
                }
            }
            & .contant {
                display: flex;
                flex-direction: column;
                gap: 22px;
                & .subtitle {
                    color: var(--light_dark);
                    font-family: "Lexend Deca";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 146.5%;
                    text-transform: capitalize;
                }
            }
            & .social {
                margin: 0px;
                padding: 0px;
                display: flex;
                align-items: center;
                gap: 20px;
                & li {
                    & a {
                        display: inline-flex;
                        width: 24px;
                        height: 24px;
                        align-items: center;
                        justify-self: center;
                        & img {
                            object-fit: cover;
                            transition: all ease-in-out 0.3s;
                        }
                        &:hover{
                            & img {
                                filter: grayscale(1);
                            }
                        }
                    }
                }
            }
        }
    }
}