.lorem {
    font-size: 22px;
    margin: 0px;
}


// *** Blog Page Csss
.breadcrumbSection {
    height: 50vh;
    min-height: 400px;
    max-height: 600px;
    background: url(../images/innarPageBg.svg) no-repeat center;
    background-size: cover;
}