@import 'font';
:root{
    --theme1: #3C2B4A;
    --theme2: #527CEB;
    --theme2_dark: #4872E2;
    --theme2_light: #6D93F9;
    --pink: #FFDBEC;
    --light: #F9F9F9;
    --light_dark: #5F5F5F;
    --gray: #525665;
    --gray_light: #A5A5A5;
    --black: #000;
    --white: #fff;
    --border_color: #D8D8D8;
    --theme1_border: #50425A;
    --input_border: #6E6179;
    --input_bg: #483557;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px
}
::-webkit-scrollbar-track-piece {
    background: var(--light)
}
::-webkit-scrollbar-thumb {
    background: var(--theme1)
}

body{
    color: var(--light_dark);
    font-family: 'Cormorant Infant';
    overflow-x: hidden
}


@import 'typography';
@import 'button';
@import 'header';
@import 'form';
@import 'index';
@import 'other';
@import 'footer';
@import 'responsive';
